<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.datasettagger.mapper.DataSetMapper">
    <resultMap id="userMap" type="com.zyc.common.security.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="enabled" property="enabled"/>
        <result column="phone" property="phone"/>
        <result column="locked" property="locked"/>
        <result column="email" property="email"/>
    </resultMap>
    <insert id="insertDataSetEntity">
        insert into dataset_tagger.data_set(pub_time, `desc`, sample_type, tag_type, gmt_create, publisher_id, dataset_id, `name`)
        values (now(), #{desc}, #{sampleType}, #{tagType}, now(), #{publisherId}, #{datasetId}, #{name});
    </insert>

    <select id="selectById" resultType="com.zyc.common.entity.DataSetEntity">
        select * from dataset_tagger.data_set where id = #{id};
    </select>

    <select id="selectAllWithLimitation" resultType="com.zyc.common.entity.DataSetEntity">
        select dataset_id, publisher_id, `desc`, pub_time, tag_type, sample_type
        from data_set
        <where>
            <if test="publisherId != null">
                publisher_id = #{publisherId}
            </if>
        </where>
        limit #{offset}, #{limitation}

    </select>
    <select id="selectCountAll" resultType="java.lang.Integer">
        select count(*) from data_set;
    </select>
    <select id="selectByDatasetId" resultType="com.zyc.common.entity.DataSetEntity">
        select dataset_id, pub_time, publisher_id, pub_time, `desc`, sample_type, tag_type
        from dataset_tagger.data_set
        where dataset_id = #{dataSetId}
    </select>

</mapper>
