<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.datasettagger.security.mapper.UserMapper">
    <select id="getUserRoleByUid" resultType="com.zyc.datasettagger.security.entity.Role">
        select  r.*
        from dataset_tagger.role r, dataset_tagger.user_role ur
        where ur.uid = #{id} and ur.rid = r.id;
    </select>

    <select id="loadUserByUsername" resultType="com.zyc.datasettagger.security.entity.User">
        select * from dataset_tagger.user where username = #{username}
    </select>
</mapper>
